body 
{
background-color: #FAFAFA
}
h1
{
	font-size: 50px;
	color: white;
}
#header
{
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: #600000;
	height: 80px;
	margin-bottom: 30px;
}
table 
{
border: 2px solid #000000;
}
td 
{
border: 1px solid #000000;
text-align: center;
vertical-align: middle;  
}
input 
{
color: #000000;
padding: 0;
border: 0;
text-align: center;
width: 48px;
height: 48px;
font-size: 24px;
background-color: #FFFFFF;
outline: none;
} 
button
{
	margin-left: 150px;
	margin-top: 20px;
	margin-right: 150px;
	font-size: 40px;
	padding: 5px;
	margin-left: 200px;
	color: white;
	background-color: #600000;
}
#result
{
	font-size: 40px;
	margin-bottom: 50px;
}